.button{
    padding: 11px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    min-width: 220px;
    font-size: 20px;
    margin: 20px  0 15px 0;
    justify-content: center;
    cursor: pointer;
}
.outlinebtn{
    padding: 10px 10px ;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    min-width: 430px;
    width: 100%;
    font-size: 20px;
    justify-content: center;
}