.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
.Headbutton{
    display: flex;
    gap: 24px;
}
.FormControler{
    margin: 20px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 40px;
    padding: 0 8px;
    position: relative;
}
.FormControler label{

    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;


}
